.DS_Store

.gradle

.idea/caches

.idea/libraries

.idea/misc.xml

.idea/shelf

.idea/tasks.xml

.idea/workspace.xml

build

keystore.jks

local.properties

worldwind/worldwind.iml

worldwind-examples/worldwind-examples.iml

worldwind-tutorials/worldwind-tutorials.iml
