.DS_Store

.gradle

.idea/libraries

.idea/modules.xml

.idea/shelf

.idea/tasks.xml

.idea/workspace.xml

*.iml

build

keystore.jks

local.properties

worldwind/*.iml

worldwind-examples/*.iml

worldwind-tutorials/*.iml
