language: android

android:
  components:
    - platform-tools
    - tools
    - build-tools-23.0.3
    - android-23

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/