<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gov.nasa.worldwind"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Tell the system this library requires OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18"/>

</manifest>
