<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="gov.nasa.worldwindx"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/nasa_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BasicGlobeActivity"
            android:label="@string/title_basic_globe"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraControlActivity"
            android:label="@string/title_camera_controls"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CameraViewActivity"
            android:label="@string/title_camera_view"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".DayNightCycleActivity"
            android:label="@string/title_day_night_cycle"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".LookAtViewActivity"
            android:label="@string/title_look_at_view"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ShowTessellationActivity"
            android:label="@string/title_show_tessellation"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SurfaceImageActivity"
            android:label="@string/title_surface_image"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".WmsLayerActivity"
            android:label="@string/title_wms_layer"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
