<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="gov.nasa.worldwindx"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/nasa_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BasicGlobeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_basic_globe"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BasicPerformanceBenchmarkActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_basic_performance_benchmark"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".BasicStressTestActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_basic_stress_test"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CameraControlActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_camera_controls"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CameraViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_camera_view"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".DayNightCycleActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_day_night_cycle"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".LookAtViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_look_at_view"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".NavigatorEventActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_navigator_event"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PlacemarksActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_placemarks"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PlacemarksDemoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_placemarks_demo"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PlacemarksMilStd2525Activity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_placemarks_milstd2525"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PlacemarksMilStd2525DemoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_placemarks_milstd2525_demo"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PlacemarksMilStd2525StressActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_placemarks_milstd2525_stress_test"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PlacemarksPickingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_placemarks_picking"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PlacemarksSelectDragActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_placemarks_select_drag"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PlacemarksStressTestActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_placemarks_stress_test"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ShowTessellationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_show_tessellation"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SurfaceImageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_surface_image"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".TextureStressTestActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_texture_stress_test"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".WmsLayerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_wms_layer"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
